/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
::selection{
    color: #fff;
    background-color: #00000080;
}
*::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: #00000080;
    border-radius: 20px;
}
*::-webkit-scrollbar{
    width: 1px;
    height: 1px;
    background-color: #ccc!important;
}
body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
img{
    width: 100%;
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}